[Desktop Entry]
Encoding=UTF-8
Name=gscan2pdf
Comment=A GUI to aid the scan-to-PDF process
Comment[de]=Machen Sie PDF-Dateien direkt von Ihrem Scanner
Exec=gscan2pdf
Icon=/usr/share/gscan2pdf/gscan2pdf.png
Terminal=false
Type=Application
Categories=GTK;Application;Graphics;RasterGraphics;Scanning;
