[Desktop Entry]
Encoding=UTF-8
Name=gscan2pdf
Comment=A GUI to aid the scan-to-PDF process
Comment[de]=Machen Sie PDF-Dateien direkt von Ihrem Scanner
Exec=gscan2pdf
Icon=gtk-print-preview
Terminal=false
Type=Application
Categories=GTK;Application;Graphics;RasterGraphics;Scanning;
